body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: black;
    color: white;
    padding: 10px;
}

#container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}